Repository splintered-reality/py_trees, pull requests merged in 2019-02, with the labels that each got.

#155 Synchronous tree setup when using infinite timeout.
  py_trees/trees.py
  tests/test_tree.py
Labels: component:trees, type:bug

#156 1.0.1
  CHANGELOG.rst
  package.xml
  py_trees/version.py
  setup.py
Labels: component:infra

#158 Proper stdout encoding
  py_trees/common.py
  py_trees/console.py
  py_trees/display.py
  tests/test_console.py
Labels: component:display

#159 [visitors] winds_of_change visitor, with logging demo
  .gitignore
  doc/demos.rst
  py_trees/demos/logging.py
  py_trees/tests.py
  py_trees/visitors.py
  setup.py
  tests/test_visitors.py
  virtualenv.bash
Labels: component:trees

#160 [release] 0.5-kinetic -> 0.5.x
  .circleci/config.yml
  .gitignore
  .pydevproject
  CHANGELOG.rst
  Makefile
  doc/decorators.rst
  doc/dot/composites.dot
  doc/dot/decorators.dot
  doc/examples/decorators.py
  doc/examples/skeleton_behaviour.py
  doc/index.rst
  doc/modules.rst
  doc/requirements.txt
  lint/README.me
  lint/flake8
  py_trees/__init__.py
  py_trees/common.py
  py_trees/decorators.py
  py_trees/demos/__init__.py
  py_trees/demos/context_switching.py
  py_trees/demos/lifecycle.py
  py_trees/demos/stewardship.py
  py_trees/display.py
  py_trees/logging.py
  py_trees/programs/__init__.py
  py_trees/tests.py
  py_trees/timers.py
  py_trees/utilities.py
  py_trees/visitors.py
  rtd-requirements.txt
  setup.cfg
  setup.py
  tests/README.md
  tests/test_chooser.py
  tests/test_decorators.py
  tests/test_parallels.py
  tests/test_tree.py
  virtualenv.bash
Labels: component:infra

#161 Fixes double edge problem
  py_trees/display.py
Labels: component:display, type:bug

#164 [docs] fix warnings
  py_trees/decorators.py
  py_trees/utilities.py
Labels: type:documentation
