Repository splintered-reality/py_trees, pull requests merged in 2019-03, with the labels that each got.

#166 Add labels for some sections
  doc/background.rst
  doc/behaviours.rst
  doc/composites.rst
  doc/conf.py
  doc/demos.rst
  doc/idioms.rst
  doc/index.rst
  doc/terminology.rst
  doc/trees.rst
  doc/visualisation.rst
  py_trees/decorators.py
Labels: type:documentation

#165 [decorators] timeout that respects the childs last tick
  CHANGELOG.rst
  py_trees/decorators.py
  tests/test_decorators.py
Labels: component:decorators, type:bug

#167 [license] url updated from stonier->splintered-reality
  py_trees/__init__.py
  py_trees/behaviour.py
  py_trees/behaviours.py
  py_trees/blackboard.py
  py_trees/common.py
  py_trees/composites.py
  py_trees/console.py
  py_trees/decorators.py
  py_trees/demos/__init__.py
  py_trees/demos/action.py
  py_trees/demos/blackboard.py
  py_trees/demos/context_switching.py
  py_trees/demos/dot_graphs.py
  py_trees/demos/lifecycle.py
  py_trees/demos/logging.py
  py_trees/demos/pick_up_where_you_left_off.py
  py_trees/demos/selector.py
  py_trees/demos/sequence.py
  py_trees/demos/stewardship.py
  py_trees/display.py
  py_trees/idioms.py
  py_trees/logging.py
  py_trees/meta.py
  py_trees/programs/__init__.py
  py_trees/programs/render.py
  py_trees/syntax_highlighting.py
  py_trees/tests.py
  py_trees/trees.py
  py_trees/utilities.py
  py_trees/version.py
  py_trees/visitors.py
  tests/test_blackboard.py
  tests/test_chooser.py
  tests/test_composites.py
  tests/test_console.py
  tests/test_decorators.py
  tests/test_display.py
  tests/test_meta.py
  tests/test_oneshot.py
  tests/test_parallels.py
  tests/test_pickup.py
  tests/test_timer.py
  tests/test_tree.py
  tests/test_utilities.py
  tests/test_visitors.py
Labels: component:infra

#170 fix missing root feedback message in ascii graphs
  CHANGELOG.rst
  package.xml
  py_trees/display.py
  py_trees/version.py
  setup.py
Labels: component:display

#177 [display] optional arguments for generate_pydot_graph
  py_trees/display.py
Labels: component:display, type:bug

#178 [display] unicode overhaul and ascii art api refactor
  CHANGELOG.rst
  py_trees/common.py
  py_trees/console.py
  py_trees/demos/blackboard.py
  py_trees/demos/context_switching.py
  py_trees/demos/logging.py
  py_trees/demos/pick_up_where_you_left_off.py
  py_trees/demos/selector.py
  py_trees/demos/sequence.py
  py_trees/demos/stewardship.py
  py_trees/display.py
  py_trees/tests.py
  py_trees/utilities.py
  py_trees/visitors.py
  tests/test_chooser.py
  tests/test_composites.py
  tests/test_console.py
  tests/test_decorators.py
  tests/test_display.py
  tests/test_meta.py
  tests/test_oneshot.py
  tests/test_parallels.py
  tests/test_pickup.py
  tests/test_timer.py
  tests/test_tree.py
  tests/test_visitors.py
Labels: component:display, type:enhancement

#179 [trees] add missing api and a convenience method for ascii art
  CHANGELOG.rst
  doc/visualisation.rst
  py_trees/trees.py
  tests/test_tree.py
Labels: component:trees, type:enhancement

#180 [display] minor fixes, higlight tip in ascii tree snapshots
  CHANGELOG.rst
  py_trees/display.py
  py_trees/visitors.py
Labels: component:display, type:enhancement

#181 [decorators, tip] bugfixes and define logic for tip() via tests
  py_trees/composites.py
  py_trees/decorators.py
  py_trees/display.py
  tests/test_tip.py
Labels: component:behaviours, component:composites, component:decorators, component:tests, type:bug

#182 [all] a plethora of minor changes/fixes
  CHANGELOG.rst
  py_trees/behaviour.py
  py_trees/composites.py
  py_trees/display.py
  py_trees/trees.py
  py_trees/utilities.py
  tests/test_tree.py
Labels: component:behaviours, component:composites, component:display, component:trees, type:bug, type:enhancement

#184 [tests] tip with parallels, resolves #183
  tests/test_tip.py
Labels: component:tests, type:enhancement

#187 [readme] updated ros links
  README.md
Labels: component:infra, type:documentation

#189 [docs] logging demo
  doc/dot/demo-logging.dot
  doc/dot/demo-tree-stewardship.dot
  doc/images/logging.gif
  py_trees/demos/logging.py
  py_trees/demos/stewardship.py
Labels: component:demos, type:documentation
