Repository splintered-reality/py_trees, pull requests merged in 2019-04, with the labels that each got.

#193 [behaviour/trees] adds the capability to call shutdown on each behaviour
  CHANGELOG.rst
  py_trees/behaviour.py
  py_trees/trees.py
Labels: component:behaviours, component:trees, type:feature

#192 [display] as a html snippet
  CHANGELOG.rst
  Makefile
  py_trees/demos/blackboard.py
  py_trees/demos/context_switching.py
  py_trees/demos/logging.py
  py_trees/demos/pick_up_where_you_left_off.py
  py_trees/demos/selector.py
  py_trees/demos/sequence.py
  py_trees/demos/stewardship.py
  py_trees/display.py
  py_trees/tests.py
  py_trees/trees.py
  py_trees/visitors.py
  tests/test_chooser.py
  tests/test_decorators.py
  tests/test_display.py
  tests/test_parallels.py
  tests/test_pickup.py
  tests/test_tip.py
  tests/test_tree.py
  tests/test_visitors.py
Labels: component:display, type:feature

#191 Added terminate method to visitor for jobs after a tick
  py_trees/trees.py
  py_trees/visitors.py
  tests/test_tree.py
Labels: component:trees, type:enhancement
